.json-viewer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .tool-bar {
        height: 40px;
        display: flex;
        align-items: center;
        font-size: 14px;
        flex: none;
        .search-text {
            position: relative;
            height: fit-content;
            input {
                width: 300px;
                padding-right: 150px;
            }
            .search-info {
                position: absolute;
                right: 80px;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none;
                color: #e0e0e0;
                background-color: #fff;
            }
            .search-toolbar {
                position: absolute;
                display: flex;
                right: 3px;
                top: 50%;
                transform: translateY(-50%);
                .toolbar-item {
                    margin: 0 2px;
                    padding: 2px;
                    width: 16px;
                    user-select: none;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 2px;
                    background-color: #e0e0e0;
                    &:hover {
                        background-color: #666;
                        color: #fff;
                    }
                    &.actived {
                        background-color: #666;
                        color: #fff;
                    }
                }
            }
        }
    }
    .json-tree {
        flex: auto;
        overflow: auto;
        margin-top: 5px;
        border: 1px solid #d9d9d9;
        box-sizing: border-box;
        border-radius: 5px;
        overflow: hidden;
        .ico-array {
            color: #0fade9;
            font-weight: 700;
        }
        .ico-object {
            color: red;
            font-weight: 700;
        }
        .ant-tree .ant-tree-node-content-wrapper {
            user-select: unset;
        }
        .in-search {
            background-color: #dfad8d;
        }
        .current-search {
            background-color: #666;
            color: #fff;
        }
    }
}
